<%-layout("/layouts/boilerplate")%>

    <body>
        <h2>All Listings</h2>
        <!-- <form action="/listings/new" method="get"><button>Add new listing</button></form> -->
        <ul>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                <%for(listing of allListings){%>
                    <a href="/listings/<%=listing._id%>" class="listing-link">
                        <div class="card" style="width: 23rem;">
                            <img src="<%=listing.image%>" class="card-img-top" style="height: 20rem;" alt="...">
                            <div class="card-body">
                                <p class="card-text">
                                    <b><%=listing.title%></b> <br>
                                    <%=listing.description%> <br>
                                        <b>₹<%=listing.price.toLocaleString("en-IN")%> /night</b>
                                </p>
                            </div>
                        </div>
                        <!-- <li><a href="/Listings/<%=listing._id%>"><%=listing.title%></a></li> -->
                    </a>
                    <%}%>
            </div>
        </ul>
    </body>