<%-layout("/layouts/boilerplate")%>

    <body> <br><br>
        <div class="row">
            <div class="col-6 offset-4">
                <h3>
                    <%=listing.title%>
                </h3>
                <div class="card show-card" style="width: 25rem;">
                    <img src="<%=listing.image%>" class="card-img-top" style="height: 20rem;" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <%=listing.description%><br>
                            ₹<%=listing.price.toLocaleString("en-IN")%> /night<br>
                            <%=listing.location%><br>
                            <%=listing.country%><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns">
            <a class="btn btn-dark offset-4" href="/listings/<%=listing._id%>/edit">Edit</a>
            <form action="/listings/<%=listing._id%>/?_method=DELETE" method="POST">
                <button class="btn btn-dark offset-4 del-btn">Delete</button>
            </form>
        </div><br><br>
    </body>