<%-layout("/layouts/boilerplate")%>

    <body> <br><br>
        <div class="row">
            <div class="col-6 offset-4">
                <h3>
                    <%=listing.title%>
                </h3>
                <div class="card show-card" style="width: 25rem;">
                    <img src="<%=listing.image%>" class="card-img-top" style="height: 20rem;" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Owned by: <i><%=listing.owner.username%></i><br>
                            <%=listing.description%><br>
                            ₹<%=listing.price.toLocaleString("en-IN")%> /night<br>
                            <%=listing.location%><br>
                            <%=listing.country%><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btns">
            <a class="btn ed-btn btn-dark offset-4" href="/listings/<%=listing._id%>/edit">Edit</a>
            <form action="/listings/<%=listing._id%>/?_method=DELETE" method="POST">
                <button class="btn btn-dark offset-4 del-btn">Delete</button>
            </form>
        </div><br><br>
   
        <div class="col-6 offset-4">
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating">Rating</label>
                    <input class="form-range" type="range" name="review[rating]" min="1" max="5" value="1" id="rating">
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label" for="comment">Comment</label>
                    <textarea placeholder="Leave a review" class="form-control" name="review[comment]" id="comment"
                        required></textarea>
                    <div class="invalid-feedback">Review can't be empty.</div>
                    <div class="valid-feedback">Thanks for the review</div>
                </div>
                <button class="mb-3 btn btn-outline-dark">Submit</button>
            </form>
            <hr>
            <h4>All Reviews</h4>
            <% for(review of listing.reviews){%>
                <div class="card review-card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>
                                <%=review.rating%>★ <%=review.comment%>
                            </p>
                            <footer class="blockquote-footer">A review by someone in <cite title="Source Title">
                                    <%=listing.title%>
                        </blockquote>
                        <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>/?_method=DELETE" method="POST">
                            <button class="btn btn-light btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            <%}%>
        </div>
    </body>